# NEON DB LINK
NEON_DB_LINK="YOUR NEON_DB_LINK"
NEON_DB_LINK_DIRECT="YOUR NEON_DB_LINK_DIRECT"


# PORT
PORT="YOUR PORT"

NODE_ENV="DEVELOPMENT OR PRODUCTION"

# ACCESS SECRET
JWT_ACCESS_SECRET="YOUR JWT_ACCESS_SECRET"
JWT_ACCESS_EXPIRES_IN="YOUR JWT_ACCESS"

# REFRESH SECRET
JWT_REFRESH_SECRET="YOUR JWT_REFRESH"
JWT_REFRESH_EXPIRES_IN="YOUR JWT_REFRESH"

BCRYPT_SALT_ROUND="YOUR BCRYPT_SALT_ROUND"
# LOCAL_APP
APP_LOCAL_URL="YOUR LOCAL_APP_URL"

# COMMON PASSWORD